*{
    margin:0;
    padding:0;
}
body{
    background:#12181b;
}
#gameBoard{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:20rem;
    display: grid;
    grid-gap: .5rem;
}
#input{
    position: absolute;
    height:2rem;
    font-size: 1.5rem;
    top: 60%;
    left:50%;
    transform: translate(-50%);
    min-width:33%;
    max-width: 50%;
    background: none;
    color: white;
    border: #252d31 1px solid;
    transition: 1s;
    text-align: center;
}
#input:focus{
    outline: none;
}
.guessRow{
    height:2.5rem;
    margin: auto;    
}
.letterBox{
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    float: left;
    margin: .25rem;
    background: none;
    color: white;
    border: #252d31 1px solid;
    height:2rem;
    width:2rem;
}
.exists{
    background: orange;
    color: black;
}
.same{
    background: #86f79b;
    color: black;
}
.none{
    background: #252d31;
}